#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    font-family: lora;
    font-style: italic;

}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    font-family: lora;
    font-style: italic;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    font-family: lora;
    font-style: italic;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    font-family: lora;
    font-style: italic;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
    font-family: lora;
    font-style: italic;
}

.footer {
	background: #dee0e2;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
  font-family: lora;
  font-style: italic;
}

.footer h3 {
	border-bottom: 1px solid #4d4f51;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
  font-family: lora;
  font-style: italic;
}


.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #4d4f51;
  font-family: lora;
  font-style: italic;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
  font-family: lora;
  font-style: italic;
}
.footer a {
	color: #4d4f51
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
  font-family: lora;
  font-style: italic;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
  font-family: lora;
  font-style: italic;
}

.footer-bottom {
	background: #4d4f51;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
  font-family: lora;
  font-style: italic;
}

.footer-bottom h6{
color: #f7f2f2;

}

.footer-bottom p.pull-left {
	padding-top: 6px;
  font-family: lora;
  font-style: italic;
}

/*order history code*/

/*hgroup.h1{
  font-family: lora;
  font-style: italic;
}*/

.mb20 h1{
  font-family: lora;
  font-style: italic;
}

.mb20 h2{
  font-family: lora;
  font-style: italic;
}

.item_name {
  font-family: lora;
  font-style: italic;
}
/*^^^^ AUTHOR, TITLE */

.item_quantity {
  font-family: lora;
  font-style: italic;
}

.item_size {
  font-family: lora;
  font-style: italic;
}
/*^^^^ ITEM PRICE */

.item_date {
  font-family: lora;
  font-style: italic;
}
/*^^^^ SHIPPING ID*/

.item_address {
  font-family: lora;
  font-style: italic;
}
/*^^^^ ADDRESS */

.label-success {
  font-family: lora;
  font-style: italic;
}

.histroy_total {
  font-family: lora;
  font-style: italic;
}


.history_wrapper{float:left; width:100%; display:block; box-shadow:0 0 10px #aaa;}

.history_header,.history_body{float:left; width:100%;}

.history_list{float:left; width:100%; border-top:1px solid rgba(0,0,0,0.3);border-bottom:1px solid rgba(0,0,0,0.3); padding:0px 5px;}
.history_header .history_header_product{float:left; width:40%; padding:0 10px; font-size:20px; font-family: lora; font-style: italic; text-align:left; }

.history_header .history_header_quantity{float:left; width:20%; padding:0 10px; font-size:20px; font-family: lora; font-style: italic; text-align:left; }

.history_header .history_header_size{float:left; width:20%; padding:0 10px; font-size:20px; font-family: lora; font-style: italic; text-align:left; }

.history_header .history_header_date{float:left; width:20%; padding:0 10px; font-size:20px; font-family: lora; font-style: italic; text-align:left; }

.history_header .history_header_address{float:left; width:20%; padding:0 10px; font-size:20px; font-family: lora; font-style: italic; text-align:left; }

.history_item_name{text-align:left; width:40%; float:left;}

.history_item_name span.item_name{float:left; width:100%; padding:10px 0px;}

.history_item_quantity,.history_item_size{float:left; width:20%;}

.history_item_quantity span.item_quantity,.history_item_size span.item_size{ text-align:center; padding:10px 0; float:left; width:100%;}

.history_item_date{float:left; width:20%;}

.history_item_date span.item_date{float:left; width:100%;}

.history_item_address{float:left; width:20%;}

.history_item_address span.item_address{float:left; width:100%;}

.history_list_footer{float:left; width:100%;border-top:1px solid rgba(0,0,0,0.2); padding:10px 0px;}

.history_list_footer .label{float:left;}

.histroy date{float:left; font-family: lora; font-style: italic; font-weight:600;}

.histroy_total{float:right;}
